<p>Each import is <b>comprehensive</b> and will be a new set of all records.</p>
<p>Do not add additional worksheets. The import assumes a single worksheet for the data as shown in the template.</p>
<p>Do not add or remove header rows. The import assumes a single header row with column names as shown in the template. The data to be imported must begin on row 2.</p>
<p>Do not remove or alter the template column names. Those exact names are used to match the data cells to system fields.</p>
<p>If helpful, you may insert additional columns with unique column names and populate their cells with data. But these columns will be ignored during import and the data will not be preserved.</p>
<p>If a cell does not have a valid value, simply leave the cell blank. Do not fill cells with values such as NA, N/A, TBD, etc.</p>

