<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RELATIVEPATHTOSATQFIMPORT" value="OSAT\QFImport\{0}\{1}" />
		<!-- DEV -->
		<add key="DIRECTORYFILES" value="C:\WebSites\Callisto\Files" />
		<!-- INT -->
		<!--
		<add key="DIRECTORYFILES" value="\\servername\D$\WebSites\Callisto\Files" />
		-->
		<!-- PROD -->
		<!--
		<add key="DIRECTORYFILES" value="\\severname\data\Callisto" />
		-->
	</appSettings>
	<connectionStrings>
		<!-- DEV -->
		<add name="CALLISTO" connectionString="Data source=dbname;initial catalog=Callisto;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes;" />
		<add name="CALLISTOCOMMON" connectionString="Data source=dbname;initial catalog=CallistoCommon;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes;" />
		<!-- INT -->
		<!--
				-->
		<!-- PROD -->
		<!--
			-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>