<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="15.0.8" targetFramework="net452" />
  <package id="DevExpress.Charts" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Charts.Core" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.CodeParser" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Data" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.DataAccess" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.DataVisualization.Core" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Document.Processor" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Office.Core" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Pdf.Core" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Pdf.Drawing" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Printing.Core" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Core" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Snap.Core" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Sparkline.Core" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Spreadsheet.Core" version="20.2.7" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="20.2.7" targetFramework="net452" />
  <package id="ExcelDataReader" version="3.5.0" targetFramework="net452" />
  <package id="ExcelDataReader.DataSet" version="3.5.0" targetFramework="net452" />
  <package id="Intel.NsgAuto.DataAccess" version="1.0.2.2" targetFramework="net452" />
  <package id="Intel.NsgAuto.Shared" version="1.0.15" targetFramework="net452" />
  <package id="Microsoft.Build.Tasks.Git" version="1.1.1" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="Microsoft.SourceLink.Common" version="1.1.1" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.1.1" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="Teradata.Net.Data.Provider" version="15.11.0.1" targetFramework="net452" />
</packages>