@model Intel.NsgAuto.Callisto.UI.Models.OSAT.OSATModel

@{
    ViewBag.Title = "OSAT - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style scoped>
    .widgetrow { margin-top: 25px; display: block; padding: 4px; }
    .widgetbox { /*display:inline-block;height:250px; */ float: left; width: 250px; margin: 4px; }
    .widgetboxheader { margin: 0px; padding: 10px; border-bottom: 1px solid #dcdcdc; }
    .widgetbox li { margin: 4px; }
</style>
<div class="fixed">
    <div class="widgetrow">
        <div class="widgetbox graybox">
            <div>
                <div class="widgetboxheader bglightblue heading">OSAT Build Management</div>
            </div>
            <div class="padeightpixel">
                <div class="padeightpixel">
                    <div class="subheading">Design Details</div>
                    <ul>
                        <li><a href="/OSAT/ListDesigns" target="_self" title="View Design Details">View Design Configurations</a> </li>
                    </ul>
                </div>
                <div class="subheading">Manage Requests</div>
                <ul>
                    <li><a href="/OSAT/DesignSummary" target="_self">View Legal Parts</a> </li>
                    <li><a href="#" target="_self">View WIP</a> </li>
                    <li><a href="#" target="_self">View Build Criteria</a> </li>
                    <li><a href="/OSAT/CreateBuildCriteria" target="_self">Create Build Criteria</a> </li>
                </ul>
            </div>
            
        </div>        
        <div class="widgetbox graybox">
            <div>
                <div class="widgetboxheader bglightblue heading">Help Center</div>
            </div>
            <div class="padeightpixel">
                <div class="subheading">Help &amp; Support</div>
                <ul>
                    <li><a href="/Help/Help.html" target="_blank">Browse Help</a> </li>
                    <li><a href="/Help/Faq.html" target="_blank">Frequently Asked Questions</a> </li>
                    <li><a href="/Help/Trainings.html" target="_blank">Training Content</a> </li>
                    <li><a href="#" target="_blank">Get Support</a> </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="clearBoth"></div>
    <div class="widgetrow" style="clear:left;">
        <div class="widgetbox graybox">
            <div>
                <div class="widgetboxheader bglightblue heading">Reports Center</div>
            </div>
            <div class="padeightpixel">
                <div class="subheading">Analytics & Reports</div>
                <ul>
                    <li><a href="OSAT/Reports/" target="_blank">Dashboard</a> </li>
                </ul>
            </div>
        </div>
        @if (Intel.NsgAuto.Web.Mvc.Core.Functions.IsSuperUser())
        {
            <div class="widgetbox graybox">
                <div>
                    <div class="widgetboxheader bglightblue heading">Administration</div>
                </div>
                <div class="padeightpixel">
                    <div class="subheading">Data Set Up</div>
                    <ul>
                        <li><a href="/Configure/Products" target="_self">Manage Designs</a> </li>                        
                    </ul>
                </div>                
            </div>
        }
    </div>
</div>